{
  "presets": [ "babel-preset-expo" ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "alias": {
          "@": "./resources/js/"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" }}], 
        "@babel/preset-react", 
        "@babel/preset-typescript"
      ]
    }
  }
}